.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.heading_main{
   font-size: 34px;
    width: 450px;
    margin: 25px 0 25px 0;
}
.items{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 1120px;
}
.signboard_link{
    color: #1698d9;
    border-bottom: 1px dashed #1698d9;
    text-decoration: none;
}
