body {
  margin: 0;
  padding: 0;
  background: url("assets/img/pattern.jpg") #f2f2f2;
  color: white;
  font-family: "Exo 2.0 Thin", sans-serif;
}

@font-face{
  font-family: "Exo 2.0 Thin";
  src: local('Exo 2.0 Thin'), url("assets/fonts/Exo2.0-Thin.otf") format('opentype');
}

